
@import "compass";

@mixin shaded-box {
    @include border-radius(24px);
    @include box-shadow(#051, 0, 0, 30px);
    background: #273;
    padding: 5px;
}

#lobby {

    margin: auto;
    white-space: nowrap;
    font-size: 18px;
    color: #000000;

    .container {
        width: 600px;
        margin: auto;
    }

    .left {
        display: inline-block;
        vertical-align: top;
        width: 325px;
    }

    .right {
        display: inline-block;
        vertical-align: top;
    }

    .logo {
        margin: 0 30px 30px 30px;
    }

    p { margin-bottom: 5px; }

    section { margin: 15px; }

    .player {

        background-color: #2073c0;
        padding: 10px;
        color: #ffffff;
        border-radius: 5px;

        #userpic {
            display: inline-block;
            vertical-align: bottom;
            width: 50px;
            height: 50px;
            margin-left: -50px;

            img {
                @include border-radius(5px);
                @include box-shadow(#000 0 1px 6px);
            }
        }

        input {
            background: #dbdbdb;
            border: none;
            font-size: 20px;
            color: #2073c0;
            padding: 8px;
            width: 250px;
            @include border-radius(2px);
        }

        input:focus {
            outline: none;
        }
    }

    .character-select {
        li {
            margin: 5px;
            display: inline-block;
            padding: 10px;
            background-color: #ffffff;
            @include border-radius(3px);
            opacity: 0.5;
        }
        li:hover { 
            background-color: #e67e22; 
            cursor: pointer;
        }
        li.selected { background-color: #e67e22; opacity: 1; }

        li div {
            width: 22px;
            height: 22px;
            background-position: -22px 0;
        }

        .john  { background-image: url('../res/char-john.png'); }
        .joe   { background-image: url('../res/char-joe.png'); }
        .betty { background-image: url('../res/char-betty.png'); }
        .mary  { background-image: url('../res/char-mary.png'); }

        .frame0 .selected div { background-position: 0 0; }
        .frame1 .selected div { background-position: -22px 0; }
        .frame2 .selected div { background-position: -44px 0; }
        .frame3 .selected div { background-position: -22px 0; }
    }


    .games {
        background-color: #2073c0;
        padding: 30px;
        color: #ffffff;
        //max-height: 416px;
        height: 415px;
        border-radius: 5px;
        overflow-x: hidden;

        #games-list {
            min-width: 258px;

            .game-mode {
                background-color: #dddddd;
                border-radius: 3px;
                position: relative;
                width: 256px;
                height: 128px;
                vertical-align: middle;
                margin-top: 10px;
                color: black;
                font-size: 16px;

                &:hover{
                    background-color: #ffffff;
                }

                .left-side{
                    display: inline-block;
                    width: 45%;
                    height: 100%;
                    vertical-align: middle;
                }

                .right-side{
                    display: inline-block;
                    width: 55%;
                    height: 100%;
                    vertical-align: middle;
                    font-size: 14px;
                }

                .map-type {
                    width: calc(100% - 12px);
                    height: 50%;
                    margin: 10px 0px 10px 10px;
                    border: 1px solid black;

                    &.free {
                        background: url('../res/mode-arena.png');
                        background-size: 100% 100%;
                    }

                    &.custom {
                        background: url('../res/custom-arena.png');
                        background-size: 100% 100%;
                    }
                }

                .counter {
                    padding: 5px;
                    text-align: center;
                    margin-left: 10px;
                }

                .map-size {
                    
                }

                .label{
                    padding-top: 15px;
                    padding-left: 15px;
                }

                .value{
                    color: #2073c0;
                    padding-top: 5px;
                    padding-left: 30px
                }
            }
        }

        label {
            position: absolute;
            color: #fff;
            bottom: 0;
            right: 0;
            text-transform: uppercase;
            margin: 5px 10px;

            font-size: 16px;
            font-weight: bold;
            color: #000;
            @include text-shadow(#fff 0 1px 5px);
        }

        .game-mode:first-child {
            margin-top: 0;
        }
    }

    .new-game{
        background-color: #dddddd;
        color: #000000;
        border-radius: 0px;

        position: relative;
        width: 256px;
        vertical-align: middle;
        border-radius: 3px;
        margin-top: 10px;

        .left-side{
            display: inline-block;
            width: 180px;
            padding: 5px;
            vertical-align:middle;
        }

        .right-side{
            display: inline-block;
            width: 50px;
            height: 90px;
            vertical-align:middle;
        }

        .title{
            color: #000000;
            padding: 10px;
            padding-bottom: 0px;
            text-align: center;
        }

        .params{
            padding: 3px 0px 3px 10px;
        }

        .label{
            display: inline-block;
            width: 40px;
            font-size: 15px;
        }

        .options{
            display: inline-block;
            width: 105px;
        }

        select{
            border-radius: 3px;
            margin: 1px;
            padding: 2px;
            width: 100%;
        }

        button {
            border-radius: 2px;
            color: #000000;
            background: #8fb8df;
            padding: 8px 14px;
            text-decoration: none;
            border: none;
            margin: 2px;
            width: 100%;
            height: 100%;
        }

        button:hover {
            background: #e67e22;
            text-decoration: none;
        }
    }


    ::-webkit-scrollbar{
        width:6px;
        background-color: rgba(0, 0, 0, 0);
    } 

    ::-webkit-scrollbar-thumb{
        background-color:#8fb8df;
        border-radius:3px;
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color:#a8bed3;
    }

    ::-webkit-scrollbar-thumb:active{
        background-color:#a8bed3;
    }
}


article {
    margin: 40px 10px;
    color: #132;

    header { font-size: 16px; margin: 10px 0; font-weight: bold; }

    p { font-size: 13px; }
}



footer {
    background: #2073c0;
    width: 100%;
    padding: 30px 20px;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    margin-top: 35px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;

    a { color: #e67e22; }
}
