.hidden {
  display: none;
}

#lobby {
  margin: auto;
  white-space: nowrap;
  font-size: 18px;
  color: #000000;
  height: 100%;
}
#lobby .container {
  width: 685px;
  height: calc(100% - 130px);
  margin: auto;
  overflow-y: auto;
}
#lobby .left {
  display: inline-block;
  vertical-align: top;
  width: 325px;
}
#lobby .right {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow-y: auto;
}
#lobby .logo {
  margin: 0 30px 30px 30px;
}
#lobby p {
  margin-bottom: 5px;
}
#lobby section {
  margin: 15px;
}
#lobby .player {
  background-color: #2073c0;
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
}
#lobby .player #userpic {
  display: inline-block;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  margin-left: -50px;
}
#lobby .player #userpic img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #000 0 1px 6px;
  -webkit-box-shadow: #000 0 1px 6px;
  box-shadow: #000 0 1px 6px;
}
#lobby .player input {
  background: #dbdbdb;
  border: none;
  font-size: 20px;
  color: #2073c0;
  padding: 8px;
  width: 260px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#lobby .player input:focus {
  outline: none;
}
#lobby .character-select li {
  margin: 5px;
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  opacity: 0.5;
}
#lobby .character-select li:hover {
  background-color: #e67e22;
  cursor: pointer;
}
#lobby .character-select li.selected {
  background-color: #e67e22;
  opacity: 1;
}
#lobby .character-select li div {
  width: 22px;
  height: 22px;
  background-position: -22px 0;
}
#lobby .character-select .john {
  background-image: url("../res/char-john.png");
}
#lobby .character-select .joe {
  background-image: url("../res/char-joe.png");
}
#lobby .character-select .betty {
  background-image: url("../res/char-betty.png");
}
#lobby .character-select .mary {
  background-image: url("../res/char-mary.png");
}
#lobby .character-select .titi {
  background-image: url("../res/char-titi.png");
}
#lobby .character-select .frame0 .selected div {
  background-position: 0 0;
}
#lobby .character-select .frame1 .selected div {
  background-position: -22px 0;
}
#lobby .character-select .frame2 .selected div {
  background-position: -44px 0;
}
#lobby .character-select .frame3 .selected div {
  background-position: -22px 0;
}
#lobby .quick-start {
  float: right;
  font-size: 0.8em;
  line-height: 1.3em;
}
#lobby .quick-start:hover {
  color: #a8e7e8;
  cursor: pointer;
}
#lobby .games {
  background-color: #2073c0;
  padding: 30px;
  color: #ffffff;
  border-radius: 5px;
  overflow-x: hidden;
}
#lobby .games #games-list {
  min-width: 258px;
}
#lobby .games #games-list .game-mode {
  background-color: #dddddd;
  border-radius: 3px;
  position: relative;
  width: 256px;
  vertical-align: middle;
  margin-top: 10px;
  padding: 8px 0px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
#lobby .games #games-list .game-mode:hover {
  background-color: #ffffff;
}
#lobby .games #games-list .game-mode .title-game {
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}
#lobby .games #games-list .game-mode .left-side {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
#lobby .games #games-list .game-mode .right-side {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  font-size: 14px;
  padding-left: 15px;
}
#lobby .games #games-list .game-mode .map-type {
  width: calc(100% - 7px);
  height: 66px;
  margin: 5px 0px 10px 5px;
  border: 1px solid black;
}
#lobby .games #games-list .game-mode .map-type.default {
  background: url("../res/default-arena.png");
  background-size: 100% 100%;
}
#lobby .games #games-list .game-mode .map-type.frozen {
  background: url("../res/frozen-arena.png");
  background-size: 100% 100%;
}
#lobby .games #games-list .game-mode .map-type.custom {
  background: url("../res/custom-arena.png");
  background-size: 100% 100%;
}
#lobby .games #games-list .game-mode .counter {
  padding: 5px;
  text-align: center;
  margin-left: 10px;
}
#lobby .games #games-list .game-mode .value {
  color: #2073c0;
  padding-top: 5px;
  padding-left: 15px;
}
#lobby .games label {
  position: absolute;
  color: #fff;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  margin: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-shadow: #fff 0 1px 5px;
}
#lobby .games .game-mode:first-child {
  margin-top: 0;
}
#lobby .new-game {
  background-color: #dddddd;
  color: #000000;
  border-radius: 0px;
  position: relative;
  width: 256px;
  vertical-align: middle;
  border-radius: 3px;
  margin-top: 10px;
}
#lobby .new-game .left-side {
  display: inline-block;
  width: 180px;
  padding: 5px;
  vertical-align: middle;
}
#lobby .new-game .right-side {
  display: inline-block;
  width: 50px;
  height: 90px;
  vertical-align: middle;
}
#lobby .new-game .title {
  color: #000000;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
}
#lobby .new-game .params {
  padding: 3px 0px 3px 10px;
}
#lobby .new-game .params input[type="text"] {
  width: 92px;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid #aaa;
}
#lobby .new-game .label {
  display: inline-block;
  width: 40px;
  font-size: 15px;
}
#lobby .new-game .options {
  display: inline-block;
  width: 105px;
}
#lobby .new-game select {
  border-radius: 3px;
  margin: 1px;
  padding: 2px;
  width: 100%;
}
#lobby .new-game button {
  border-radius: 2px;
  color: #000000;
  background: #8fb8df;
  padding: 8px 14px;
  text-decoration: none;
  border: none;
  margin: 2px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#lobby .new-game button:hover {
  background: #e67e22;
  text-decoration: none;
}
#lobby ::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
#lobby ::-webkit-scrollbar-thumb {
  background-color: #8fb8df;
  border-radius: 3px;
}
#lobby ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bed3;
}
#lobby ::-webkit-scrollbar-thumb:active {
  background-color: #a8bed3;
}

article {
  margin: 40px 10px;
  color: #132;
}
article header {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}
article p {
  font-size: 13px;
}

footer {
  background: #2073c0;
  width: 100%;
  padding: 30px 20px;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  margin-top: 35px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  height: 130px;
}
footer a {
  color: #e67e22;
}
