#lobby {
  width: 600px;
  margin: 50px auto;
  white-space: nowrap;
  font-size: 18px;
  color: #051;
}
#lobby .left {
  display: inline-block;
  vertical-align: top;
  width: 325px;
}
#lobby .right {
  display: inline-block;
  vertical-align: top;
  margin-left: -40px;
}
#lobby .logo {
  margin: 0 30px 30px 30px;
}
#lobby p {
  margin-bottom: 5px;
}
#lobby section {
  margin: 15px;
}
#lobby .player {
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: #051, 0, 0, 30px;
  -webkit-box-shadow: #051, 0, 0, 30px;
  box-shadow: #051, 0, 0, 30px;
  background: #273;
  padding: 5px;
}
#lobby .player #userpic {
  display: inline-block;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  margin-left: -50px;
}
#lobby .player #userpic img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #000 0 1px 6px;
  -webkit-box-shadow: #000 0 1px 6px;
  box-shadow: #000 0 1px 6px;
}
#lobby .player input {
  background: #205f20;
  border: none;
  font-size: 22px;
  color: #5d4;
  padding: 8px;
  width: 250px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#lobby .player input:focus {
  outline: none;
}
#lobby .character-select li {
  margin: 5px;
  display: inline-block;
  padding: 10px;
  background-color: #384;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.5;
}
#lobby .character-select li:hover {
  background-color: #5b7;
}
#lobby .character-select li.selected {
  background-color: #5b7;
  opacity: 1;
}
#lobby .character-select li div {
  width: 22px;
  height: 22px;
  background-position: -22px 0;
}
#lobby .character-select .john {
  background-image: url("../res/char-john.png");
}
#lobby .character-select .joe {
  background-image: url("../res/char-joe.png");
}
#lobby .character-select .betty {
  background-image: url("../res/char-betty.png");
}
#lobby .character-select .mary {
  background-image: url("../res/char-mary.png");
}
#lobby .character-select .frame0 .selected div {
  background-position: 0 0;
}
#lobby .character-select .frame1 .selected div {
  background-position: -22px 0;
}
#lobby .character-select .frame2 .selected div {
  background-position: -44px 0;
}
#lobby .character-select .frame3 .selected div {
  background-position: -22px 0;
}
#lobby #facebook-login p {
  font-size: 12px;
  white-space: normal;
  line-height: 15px;
  color: #8fa;
}
#lobby #facebook-login a {
  color: #afa;
}
#lobby .games {
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: #051, 0, 0, 30px;
  -webkit-box-shadow: #051, 0, 0, 30px;
  box-shadow: #051, 0, 0, 30px;
  background: #273;
  padding: 5px;
  padding: 20px;
}
#lobby .games #games-list {
  min-width: 258px;
  min-height: 300px;
}
#lobby .games .game-mode {
  position: relative;
  width: 256px;
  height: 128px;
  vertical-align: middle;
  border: solid 1px #000;
  margin-top: 10px;
}
#lobby .games .game-mode.free {
  background: url("../res/mode-arena.png");
}
#lobby .games .game-mode.custom {
  background: url("../res/custom-arena.png");
}
#lobby .games .game-mode.free:hover {
  -moz-box-shadow: #ff0 0 0 30px 3px;
  -webkit-box-shadow: #ff0 0 0 30px 3px;
  box-shadow: #ff0 0 0 30px 3px;
}
#lobby .games .game-mode.future {
  background: #333;
  border: solid 1px #111;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 128px;
  opacity: 0.2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#lobby .games .game-mode .play {
  cursor: default;
  line-height: 128px;
  font-size: 32px;
  color: #FF0;
  text-align: center;
  text-shadow: #000 0 1px 5px;
  opacity: 0;
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -moz-transition-property: "opacity, transform";
  -o-transition-property: "opacity, transform";
  -webkit-transition-property: "opacity, transform";
  transition-property: "opacity, transform";
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
#lobby .games .game-mode:hover .play {
  opacity: 1;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
#lobby .games .counter {
  position: absolute;
  background: #a00;
  padding: 5px 10px;
  right: 0;
  margin-top: -5px;
  margin-right: -5px;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: #000 0 1px 5px;
  -webkit-box-shadow: #000 0 1px 5px;
  box-shadow: #000 0 1px 5px;
}
#lobby .games label {
  position: absolute;
  color: #fff;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  margin: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-shadow: #fff 0 1px 5px;
}
#lobby .games .game-mode:first-child {
  margin-top: 0;
}

article {
  margin: 40px 10px;
  color: #132;
}
article header {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}
article p {
  font-size: 13px;
}

footer {
  background: #373;
  width: 100%;
  padding: 30px 20px;
  font-size: 13px;
  line-height: 20px;
  color: #252;
  margin-top: 35px;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
footer a {
  color: #4c4;
}
